@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{
    /*background: linear-gradient(90deg, #7e670b, #f5d88f);*/
    background-image: url(../imagenes/sjdl.jpg);
    padding: 100px;
    background-position: center;
    background-size: cover;
}

.container-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.ctn-form{
    width: 80%;
    padding: 40px;
    background: #fff7f7;
}

.logo{
    width: 150px;
    display: block;
    margin: auto;
}

.title{
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    color: #7a7a7a;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #7a7a7a;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,0);
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    color: #000000;
    font-size: 16px;
}

input[type="submit"]{
  width: 100%;
  height: 50px;
  margin-top: 60px;
  color: white;
  border: 0px;
  background: linear-gradient(90deg, #7e520b, #f5d18f);
  font-weight: 300;
  cursor: pointer;
  font-size: 18px;
}

input[type="submit"]:hover{
  background: linear-gradient(90deg, #7e5d0b, #f5d08f);
}

.text-footer{
  display: block;
  margin-top: 100px;
  text-align: center;
  color: #7a7a7a;
  font-weight: 300;
}

.text-footer a{
  color: #029EE1;
  font-weight: 500;
}

.ctn-text{
  width: 100%;
  /*background-image: url(../imagenes/planta.jpg);*/
  background-position: center;
  background-size: cover;
  padding: 40px;
  position: relative;
}

.capa{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg,#7e5d0b, #f5e48f);
  opacity: 60%;
}

.title-description{
  position: relative;
  top: 80px;
  color: white;
  font-weight: 300;
  font-size: 40px;
}

.text-description{
  position: relative;
  top: 110px;
  color: white;
  font-size: 18px;
  font-weight: 200;
}

.msg-error{
    color: #bf2222;
    display: block;
    margin-top: 10px;
}

@media screen and (max-width: 800px){
  .ctn-text{
    display: none;
  }

  .ctn-form{
    margin: auto;
    width: 100%;
    background: white;
  }
}


